# Análise de similaridade entre as emetas das disciplinas da UFABC

Queremos determinar se existe disciplinas com mais de 75% de similaridade entre as ementas. Para isso vamos usar uma LLM para determinar essa relação.

A ideia é utilizar um aprendizado não supervisionado. Talvez cossine similarity

### Ver referenicias:

https://tail-ufpb.medium.com/word-embeddings-representa%C3%A7%C3%A3o-vetorial-de-textos-para-machine-learning-74a227e18478

https://spencerporter2.medium.com/understanding-cosine-similarity-and-word-embeddings-dbf19362a3c

In [5]:
from sklearn.feature_extraction.text import CountVectorizer

In [15]:
doc_1 = "Noções de amostragem e técnicas de amostragem probabilísticas e não probabilísticas aplicadas à tomada de decisões; principais distribuições por amostragem e o teorema do limite central voltado à estimação; construção de intervalos de confiança direcionados à tomada de decisão e à área de qualidade; determinação de tamanhos de amostras para dar suporte à tomada de decisão; teoria das decisões com apoio de testes de hipóteses paramétricos e não paramétricos; correlação entre variáveis: estudo das relações entre variáveis com ênfase na tomada de decisões; análise de regressão: introdução à modelagem voltada a aplicações na Engenharia de Gestão, envolvendo modelos lineares simples e lineares por transformação das variáveis."
doc_2 = "Análise descritiva de dados. Probabilidade e modelos de probabilidade. Delineamentos de pesquisa: medidas de força de associação entre variáveis, correlação e regressão. Tabelas de contingência. Análise inferencial. Teste t. ANOVA."

data = [doc_1, doc_2]

count_vectorizer = CountVectorizer()
vector_matrix = count_vectorizer.fit_transform(data)
vector_matrix

<Compressed Sparse Row sparse matrix of dtype 'int64'
	with 81 stored elements and shape (2, 74)>

In [16]:
tokens = count_vectorizer.get_feature_names_out()
tokens

array(['amostragem', 'amostras', 'anova', 'análise', 'aplicadas',
       'aplicações', 'apoio', 'associação', 'central', 'cnicas', 'com',
       'confiança', 'construção', 'contingência', 'correlação', 'dados',
       'dar', 'das', 'de', 'decisão', 'decisões', 'delineamentos',
       'descritiva', 'determinação', 'direcionados', 'distribuições',
       'do', 'engenharia', 'entre', 'envolvendo', 'estimação', 'estudo',
       'força', 'gestão', 'hipóteses', 'inferencial', 'intervalos',
       'introdução', 'limite', 'lineares', 'medidas', 'modelagem',
       'modelos', 'na', 'noções', 'não', 'para', 'parame', 'pesquisa',
       'por', 'principais', 'probabili', 'probabilidade', 'qualidade',
       'regressão', 'relações', 'simples', 'sticas', 'suporte', 'tabelas',
       'tamanhos', 'te', 'teorema', 'teoria', 'teste', 'testes', 'tomada',
       'transformação', 'tricos', 'variáveis', 'voltada', 'voltado',
       'área', 'ênfase'], dtype=object)

In [17]:
vector_matrix.toarray()

array([[ 3,  1,  0,  1,  1,  1,  1,  0,  1,  1,  2,  1,  1,  0,  1,  0,
         1,  3, 15,  2,  3,  0,  0,  1,  1,  1,  1,  1,  2,  1,  1,  1,
         0,  1,  1,  0,  1,  1,  1,  2,  0,  1,  1,  2,  1,  2,  1,  2,
         0,  2,  1,  2,  0,  1,  1,  1,  1,  2,  1,  0,  1,  1,  1,  1,
         0,  1,  4,  1,  2,  3,  1,  1,  1,  1],
       [ 0,  0,  1,  2,  0,  0,  0,  1,  0,  0,  0,  0,  0,  1,  1,  1,
         0,  0,  6,  0,  0,  1,  1,  0,  0,  0,  0,  0,  1,  0,  0,  0,
         1,  0,  0,  1,  0,  0,  0,  0,  1,  0,  1,  0,  0,  0,  0,  0,
         1,  0,  0,  0,  2,  0,  1,  0,  0,  0,  0,  1,  0,  0,  0,  0,
         1,  0,  0,  0,  0,  1,  0,  0,  0,  0]])

In [18]:
import pandas as pd

def create_dataframe(matrix, tokens):

    doc_names = [f'doc_{i+1}' for i, _ in enumerate(matrix)]
    df = pd.DataFrame(data=matrix, index=doc_names, columns=tokens)
    return(df)

create_dataframe(vector_matrix.toarray(),tokens)

,amostragem,amostras,anova,análise,aplicadas,aplicações,apoio,associação,central,cnicas,...,teste,testes,tomada,transformação,tricos,variáveis,voltada,voltado,área,ênfase
doc_1,3,1,0,1,1,1,1,0,1,1,...,0,1,4,1,2,3,1,1,1,1
doc_2,0,0,1,2,0,0,0,1,0,0,...,1,0,0,0,0,1,0,0,0,0

In [19]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_similarity_matrix = cosine_similarity(vector_matrix)
create_dataframe(cosine_similarity_matrix,['doc_1','doc_2'])

          doc_1     doc_2
doc_1  1.000000  0.670176
doc_2  0.670176  1.000000